section#hero {
    position: relative;
    min-height: 100vh;
    padding: 100px 0;
    display: flex;
    align-items: center;
}

section#hero .overlay-img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 80px;
}
